<form class="needs-validation" action="/plant/create-plant" enctype="multipart/form-data" method="POST" novalidate>
    <!-- plant name -->
    <div>
        <div class="form-floating has-validation mb-3">
            <input type="text" class="form-control" id="nameCommon" name="nameCommon" placeholder="plant name" required>
            <label for="plantName">Plant Name<span class="req-prop ps-1">*</span></label>
            <div class="valid-feedback">
                * Required field, all set!
            </div>
            <div class="invalid-feedback">
                * Plant Name is required
            </div>
        </div>
        
    </div>
    <!-- SCI -->
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="nameSCI" name="nameSCI" placeholder="scientific name">
        <label for="plantNameSCI">Scientific Name</label>
    </div>
    <!-- image -->
    <div>
        <label for="imgUpload">Plant Profile Image<span class="req-prop ps-1">*</span></label>
    </div>
    <div class="input-group has-validation mb-3">
        <div class="input-group-text text-white" for="imgUpload"><i class="fas fa-image fa-lg"></i></div>
        <input type="file" class="form-control" id="imageUpload" name="file" aria-label="image file" required>
        <div class="valid-feedback">
            * Required field, all set!
        </div>
        <div class="invalid-feedback">
            * Plant Profile Image is required, please choose a file
        </div>
    </div>
    <div class="row gy-2 gx-3 mb-3 mt-3">
        <!-- light -->
        <div class="col-lg-4">
            <div>
                <label for="light">Sun Exposure</label>
            </div>
                <div class="input-group">
                    <div class="input-group-text text-white" for="light"><i class="fas fa-sun fa-lg"></i></div>
                        <select class="form-select h-100" id="light" name="light" aria-label="Sun exposure select">
                            <option value="" disabled selected>Select...</option>
                            <option value="Full-Shade">Full-Shade</option>
                            <option value="Shade-Partial">Full-Shade to Part-Sun</option>
                            <option value="Sun-Partial">Full-Sun to Part-Shade</option>
                            <option value="Full-Sun">Full-Sun</option>
                            <option value="Sun-Shade">Sun to Shade</option>
                        </select>
                </div>
        </div>
        <!-- water -->
        <div class="col-lg-4">
            <div>
                <label for="water">Water Needs</label>
            </div>
            <div class="input-group">
                <div class="input-group-text text-white" for="water"><i class="fas fa-tint fa-lg"></i></div>
                    <select class="form-select h-100" id="water" name="water" aria-label="Water needs select">
                        <option value="" disabled selected>Select...</option>
                        <option value="Wet/Keep-Moist">Wet/Keep-Moist</option>
                        <option value="Average">Average</option>
                        <option value="Drought-Tolerant">Drought-Tolerant</option>
                    </select>
            </div>
            
        </div>
        <!-- soil -->
        <div class="col-lg-4">
            <div>
                <label for="soil">Soil Preference</label>
            </div>
            <div class="input-group">
                <div class="input-group-text text-white" for="soil"><i class="fas fa-ellipsis-v fa-lg"></i></div>
                    <select class="form-select h-100" id="soil" name="soil" aria-label="Soil select">
                        <option value="" disabled selected>Select...</option>
                        <option value="Average-Soil">Average-Soil</option>
                        <option value="Well-Drained">Well-Drained</option>
                        <option value="Rich/Loam">Rich/Loam</option>
                        <option value="Clay">Clay</option>
                        <option value="Sandy">Sandy</option>
                        <option value="Rocky">Rocky</option>
                    </select>

            </div>
        </div>
    </div>

    <section class="row mb-3">
            <div class="col-lg-7">
                <!-- height -->
                <div class="row gx-3 mb-3">
                    <div class="col-lg-4">
                        <span>Growth Height <i class="fas fa-arrows-alt-v fa-sm"></i></span>
                    </div>
                    <div class="col-lg-2 col-4">
                        <input type="text" class="form-control" id="minHeight" name="minHeight" placeholder="min">
                    </div>
                    <div class="col-lg-2 col-4">
                        <input type="text" class="form-control" id="maxHeight" name="maxHeight" placeholder="max">
                    </div>
                    <div class="col-3">
                        <select class="form-select h-100" id=heightInc name="heightInc">
                            <option value="" disabled selected>in/cm</option>
                            <option value="in">in</option>
                            <option value="cm">cm</option>
                        </select>
                    </div>
                </div>
                <!-- spread -->
                <div class="row gx-3 mb-3">
                    <div class="col-lg-4">
                        <span>Spread <i class="fas fa-arrows-alt-h fa-sm"></i></span>
                    </div>
                    <div class="col-lg-2 col-4">
                        <input type="text" class="form-control" id="minSpread" name="minSpread" placeholder="min">
                    </div>
                    <div class="col-lg-2 col-4">
                        <input type="text" class="form-control" id="maxSpread" name="maxSpread" placeholder="max">
                    </div>
                    <div class="col-3">
                        <select class="form-select h-100" id=spreadInc name="spreadInc">
                            <option value="" disabled selected>in/cm</option>
                            <option value="in">in</option>
                            <option value="cm">cm</option>
                        </select>
                    </div>
                </div>
                <!-- origin -->
                <div class="row mb-3">
                    <div class="col-lg-11">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="nativeOrigin" name="nativeOrigin" placeholder="origin">
                            <label for="nativeOrigin">Native Origin</label>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6 col-lg-4">
                <!-- zone -->
                <div class="row gx-3 mb-3">
                    <div>
                        <span><a href="https://planthardiness.ars.usda.gov/PHZMWeb/" class="link-primary" target="_blank">USDA Hardiness Zone</a></span>
                    </div>
                    <div class="col-5">
                        <select class="form-select h-100" id="zoneMin" name="zoneMin">
                            <option value="" disabled selected>min</option>
                            <option value="1a">1a</option>
                            <option value="1b">1b</option>
                            <option value="2a">2a</option>
                            <option value="2b">2b</option>
                            <option value="3a">3a</option>
                            <option value="3b">3b</option>
                            <option value="4a">4a</option>
                            <option value="4b">4b</option>
                            <option value="5a">5a</option>
                            <option value="5b">5b</option>
                            <option value="6a">6a</option>
                            <option value="6b">6b</option>
                            <option value="7a">7a</option>
                            <option value="7b">7b</option>
                            <option value="8a">8a</option>
                            <option value="8b">8b</option>
                            <option value="9a">9a</option>
                            <option value="9b">9b</option>
                            <option value="10a">10a</option>
                            <option value="10b">10b</option>
                            <option value="11a">11a</option>
                            <option value="11b">11b</option>
                            <option value="12a">12a</option>
                            <option value="12b">12b</option>
                            <option value="13a">13a</option>
                            <option value="13b">13b</option>
                        </select>
                    </div>
                    <div class="col text-center">
                        <span>to</span>
                    </div>
                    <div class="col-5">
                        <select class="form-select h-100" id="zoneMax" name="zoneMax">
                            <option value="" disabled selected>max</option>
                            <option value="1a">1a</option>
                            <option value="1b">1b</option>
                            <option value="2a">2a</option>
                            <option value="2b">2b</option>
                            <option value="3a">3a</option>
                            <option value="3b">3b</option>
                            <option value="4a">4a</option>
                            <option value="4b">4b</option>
                            <option value="5a">5a</option>
                            <option value="5b">5b</option>
                            <option value="6a">6a</option>
                            <option value="6b">6b</option>
                            <option value="7a">7a</option>
                            <option value="7b">7b</option>
                            <option value="8a">8a</option>
                            <option value="8b">8b</option>
                            <option value="9a">9a</option>
                            <option value="9b">9b</option>
                            <option value="10a">10a</option>
                            <option value="10b">10b</option>
                            <option value="11a">11a</option>
                            <option value="11b">11b</option>
                            <option value="12a">12a</option>
                            <option value="12b">12b</option>
                            <option value="13a">13a</option>
                            <option value="13b">13b</option>
                        </select>
                    </div>
                </div>

                <!-- bloom -->
            <div class="row gx-3 mb-3">
                <div>
                    <label for="bloomSeason">Bloom Season</label>
                </div>
                <div class="col-5">
                    <select class="form-select h-100" id="seasonStart" name="seasonStart" aria-label="Season start select">
                        <option value="" disabled selected>start</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="Spring">Spring</option>
                        <option value="Early-Spring">Early-Spring</option>
                        <option value="Mid-Spring">Mid-Spring</option>
                        <option value="Late-Spring">Late-Spring</option>
                        <option value="Summer">Summer</option>
                        <option value="Early-Summer">Early-Summer</option>
                        <option value="Mid-Summer">Mid-Summer</option>
                        <option value="Late-Summer">Late-Summer</option>
                        <option value="Early-Fall">Early-Fall</option>
                        <option value="Fall">Fall</option>
                        <option value="Late-Fall">Late-Fall</option>
                        <option value="Year-Round">Year-Round</option>
                    </select>
                </div>
                <div class="col text-center">
                    <span>to</span>
                </div>
                <div class="col-5">
                    <select class="form-select h-100" id="seasonEnd" name="seasonEnd" aria-label="Season end select">
                        <option value="" disabled selected>end</option>
                        <option value="March">March</option>
                        <option value="April">April</option>
                        <option value="May">May</option>
                        <option value="June">June</option>
                        <option value="July">July</option>
                        <option value="August">August</option>
                        <option value="September">September</option>
                        <option value="October">October</option>
                        <option value="November">November</option>
                        <option value="Spring">Spring</option>
                        <option value="Early-Spring">Early-Spring</option>
                        <option value="Mid-Spring">Mid-Spring</option>
                        <option value="Late-Spring">Late-Spring</option>
                        <option value="Summer">Summer</option>
                        <option value="Early-Summer">Early-Summer</option>
                        <option value="Mid-Summer">Mid-Summer</option>
                        <option value="Late-Summer">Late-Summer</option>
                        <option value="Early-Fall">Early-Fall</option>
                        <option value="Fall">Fall</option>
                        <option value="Late-Fall">Late-Fall</option>
                        <option value="Year-Round">Year-Round</option>
                    </select>
                </div>
            </div>
            </div>

    </section>

        <div class="row justify-content-between mb-3">
            
            <div class="col-md-5">
                <!-- status -->
                <div>
                    <label for="plantedStatus" class="form-label">Planting Status</label>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text text-white" for="plantedStatus"><i class="fas fa-check fa-lg"></i></div>
                    <select class="form-select" id=plantedStatus name="plantedStatus">
                        <option value="" disabled selected>Select current status...</option>
                        <option value="To-Plant">To-Plant</option>
                        <option value="Planted">Planted</option>
                    </select>
                </div>
                <!-- current health -->
                <div>
                    <label for="health" class="form-label">Current Health</label>
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-text text-white" for="health"><i class="fas fa-smile fa-lg"></i><br><i class="fas fa-sad-tear fa-lg"></i></div>
                    <select class="form-select" id=health name="health">
                        <option value="" disabled selected>Select current health...</option>
                        <option value="Active">Active</option>
                        <option value="Thriving">Thriving</option>
                        <option value="Failed">Failed</option>
                    </select>
                </div>
                <!-- notes -->
                <div>
                    <label for="notes" class="form-label">Notes</label>
                </div>
                <div class="input-group mb-3">  
                    <span class="input-group-text text-white"><i class="fas fa-pencil-alt fa-lg"></i></span>
                    <textarea class="form-control" id=notes name="notes" rows="3"></textarea>
                </div>

            </div>
            
            <div class="col-md-6">
                <!-- year planted -->
                <label for="yearPlanted" class="form-label">Year Planted</label>
                <div class="input-group mb-3">
                    <span class="input-group-text text-white"><i class="far fa-calendar-alt fa-lg"></i></span>
                    <input type="number" class="form-control" id="yearPlanted" name="yearPlanted" min="2010" max="2099" step="1" value="2021">
                    <select class="form-select" id="seasonPlanted" name="seasonPlanted">
                        <option value="" disabled selected>season planted...</option>
                        <option value="Spring">Spring</option>
                        <option value="Summer">Summer</option>
                        <option value="Fall">Fall</option>
                    </select>
                </div>
                <!-- number of plants -->
                <label for="numPlanted" class="form-label">Number of Plants</label>
                <div class="col-6">
                    <div class="input-group mb-3">
                        <span class="input-group-text text-white"><i class="fas fa-seedling"></i><i class="fas fa-seedling"></i></span>
                        <input type="number" class="form-control" id="numPlanted" name="numPlanted" min="0" placeholder="0">
                    </div>
                </div>
                <div class="col">
                    <!-- pests -->
                    <label for="pests" class="form-label">Known Pests/Diseases</label>
                    <div class="input-group">
                        <span class="input-group-text text-white"><i class="fas fa-bug fa-lg"></i> <i class="fas fa-viruses fa-lg"></i></span>
                        <textarea class="form-control" id=pests name="pests" rows="3"></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            
        </div>
            <!-- plotID, hidden -->
            <input type="hidden" id="plotID" name= "plotID" value="<%= plot._id %>"> 
        <div class="mt-3">
            <!-- save/close -->
            <button class="btn btn-primary" type="submit" value="Upload">Save</button>
            <!-- <button type="reset" class="btn cancel" onclick="closeForm()">Close</button> -->
            <button class="btn btn-secondary" type="reset" data-bs-toggle="collapse" data-bs-target="#plantForm" aria-expanded="true" aria-controls="plantForm">
            Cancel
            </button>
        </div>
</form>