<%- include('./partials/header.ejs'); -%>
<div class="container">
    

    <div class="mt-5">
        <a class="btn" href="/profile">Back</a>
        <form action="/plot/createPlot" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="plotName" class="form-label">Plot Name:</label>
                <input type="text" class="form-control" id="name" name="plotName">
            </div>

            <div>
                <label for="seasonID">Planting Year:</label>
                <select id="seasonID" name="seasonID">
                    <option value="N/A">Not Specified</option>
                    <option value="2020">2020</option>
                    <option value="2021">2021</option>
                    <option value="2022">2022</option>
                    <option value="2023">2023</option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="imgUpload" class="form-label">Image:</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
            </div>

            <div class="mb-3">
                <label for="zone" class="form-label"><a href="https://planthardiness.ars.usda.gov/PHZMWeb/" target="_blank">USDA Plant Hardiness Zone:</a></label>
                <select id="zone" name="zone">
                    <option value="N/A">N/A</option>
                    <option value="Indoors">Indoor Planting</option>
                    <option value="1a">1a</option>
                    <option value="1b">1b</option>
                    <option value="2a">2a</option>
                    <option value="2b">2b</option>
                    <option value="3a">3a</option>
                    <option value="3b">3b</option>
                    <option value="4a">4a</option>
                    <option value="4b">4b</option>
                    <option value="5a">5a</option>
                    <option value="5b">5b</option>
                    <option value="6a">6a</option>
                    <option value="6b">6b</option>
                    <option value="7a">7a</option>
                    <option value="7b">7b</option>
                    <option value="8a">8a</option>
                    <option value="8b">8b</option>
                    <option value="9a">9a</option>
                    <option value="9b">9b</option>
                    <option value="10a">10a</option>
                    <option value="10b">10b</option>
                    <option value="11a">11a</option>
                    <option value="11b">11b</option>
                    <option value="12a">12a</option>
                    <option value="12b">12b</option>
                    <option value="13a">13a</option>
                    <option value="13b">13b</option>
                    
                </select>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location (i.e. "Front of house"):</label>
                <input type="text" class="form-control" id="location" name="location">
            </div>

            <div class="buttons">
                <div class="buttonContainer">
                    <button type="submit" class="" value="Upload">Save</button>
                </div>
            </div>
        </form>
    </div>

</div>
<!--    name: req.body.plotName,
        seasonID: req.body.seasonID,
        image: result.secure_url,
        cloudinaryId: result.public_id,
        zone: req.body.zone,
        location: req.body.location,
        public: req.body.public,
        user: req.user.id, -->

<%- include('./partials/footer.ejs'); -%>