<%- include('./partials/header.ejs'); -%>
<div class="container">
    

    <div class="mt-5">
        <a class="btn" href="/profile">Back</a>
        <form action="/plot/createPlot" enctype="multipart/form-data" method="POST">
            <div class="mb-3">
                <label for="plotName" class="form-label">Plot Name</label>
                <input type="text" class="form-control" id="name" name="plotName">
            </div>
            
            <div class="mb-3">
                <label for="imgUpload" class="form-label">Image</label>
                <input type="file" class="form-control" id="imageUpload" name="file">
            </div>

            <div class="mb-3">
                <label for="zone" class="form-label">USDA Plant Hardiness Zone</label>
                <input type="text" class="form-control" id="zone" name="zone">
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" id="location" name="location">
            </div>

            <div class="buttons">
                <div class="buttonContainer">
                    <button type="submit" class="" value="Upload">Save</button>
                </div>
            </div>
        </form>
    </div>

</div>
<!--    name: req.body.plotName,
        seasonID: req.body.seasonID,
        image: result.secure_url,
        cloudinaryId: result.public_id,
        zone: req.body.zone,
        location: req.body.location,
        public: req.body.public,
        user: req.user.id, -->

<%- include('./partials/footer.ejs'); -%>