<%- include('partials/index-header') -%>
<div class="container-fluid mx-0 px-0">
    <div class="d-flex flex-column index-headline px-0">
        <h1 class="text-center text-capitalize text-color-primary fw-bold">Plan Your Dream Green Space</h1>
        <div class="d-flex justify-content-center mt-5 mb-0">
            <a 
                href="/signup" 
                class="nav-link btn btn-lg btn-outline-primary justify-self-center py-1 ps-3 pe-4" 
                role="button" 
                style="width: fit-content;"> 
                <i class=" color-green fas fa-leaf pe-2"></i>Get Started
            </a>
        </div>
    </div>
    <main class="index-main container-fluid mx-0 px-0">
        <div id="mainCarousel" class="carousel slide bg-inverse w-100 ms-auto me-auto" data-bs-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#mainCarousel" data-bs-slide-to="0" class="active"></li>
                <li data-bs-target="#mainCarousel" data-bs-slide-to="1"></li>
                <li data-bs-target="#mainCarousel" data-bs-slide-to="2"></li>
            </ol>

            <!-- carousel non-url images are 15:7, 72dpi, image size 900x429  -->
            <div class="carousel-inner bg-ultra-sheer-black" role="listbox">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <img 
                                class="carousel-image" 
                                src="/images/dahlia-cover.jpg"  
                                alt="Slide One"
                            >
                            <div class="carousel-caption carousel-caption-bg">
                                <h1 class="text-capitalize">gather inspiration</h1>
                                <p class="text-capitalize title-font fs-5"> create collections of favorite varieties, <br> or plan ahead for future seasons</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <img 
                                class="carousel-image" 
                                src="/images/peony-cover.jpg" 
                                alt="Slide Two"
                            >
                            <div class="carousel-caption carousel-caption-bg">
                                <h1 class="text-capitalize">catalog plants</h1>
                                <p class="text-capitalize title-font fs-5">group plants by growing location, <br> store garden details</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="carousel-item">
                    <div class="row">
                        <div class="col-xl-9 mx-auto">
                            <img 
                                class="carousel-image" 
                                src="/images/green-cover.jpg"
                                alt="Slide Three"
                            >
                            <!-- src="https://i.insider.com/5b2a856b5e48ec14098b4647?width=1200"  -->
                            <div class="carousel-caption carousel-caption-bg">
                                <h1 class="text-capitalize">plot growth</h1>
                                <p class="text-capitalize title-font fs-5">save plant characteristics, care notes, <br> & preferred growing conditions</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#mainCarousel" role="button" data-bs-slide="prev">
                <span class="fw-bold carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#mainCarousel" role="button" data-bs-slide="next">
                <span class="fw-bold carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </a>
        </div>
    </main>
    
</div>
    

<%- include('partials/footer') -%>