<% if (!user) { %>
    <%- include('partials/index-header') -%>
<% } %>

<% if (user) { %>
    <%- include('partials/header') -%>
<% } %>
<!-- Post Contact Email View -->
<div class="container-fluid mx-0 px-0">
    <div class="d-flex flex-column index-headline px-0" style="min-height: 15vh; margin-top: 15%;">
        <h1 class="text-center text-capitalize text-color-primary fw-bold">Message Sent!</h1>
        <div class="d-flex justify-content-center mt-4 mb-2">
            <a href="/profile" class="nav-link btn btn-primary btn-alt text-white fw-bolder justify-self-center py-1 px-5" role="button" style="width: fit-content;">Return Home</a>
        </div>
    </div>
    <main class="index-main container-fluid mx-0 px-0">
        
        
    </main>
    
</div>
    

<%- include('partials/footer') -%>