<%- include('partials/index-header') -%>
    <main class="container">
        <div class="row justify-content-center align-items-center" style="height: 60vh;">
            <section class="col-lg-6 mt-5" style="height:fit-content">
              <div class="row justify-content-center mt-5 mb-1">
                <div class="col py-0 px-2">
                    <h3 class="text-color-primary title-font-op text-uppercase ps-2">Create an Account</h3>
                </div>
              </div>
                
                <form class="needs-validation" action="/signup" method="POST" novalidate>
                    <div class="form-floating has-validation mb-3">
                      <input type="text" class="form-control" id="userName" name="userName" placeholder="user name" pattern="(?=.*[a-z])(?=.*[A-Z]).{6,20}" required title="6-20 characters including one uppercase and one lowercase letter" required>
                      <label for="userName" class="form-label"><i class="text-secondary far fa-user-circle fa-lg pe-2"></i>Username<span class="req-prop ps-1">*</span></label>
                      <div id="usernameHelp" class="form-text">(Min 6 characters, including one uppercase and one lowercase letter)</div>
                      <div id="validationServerUsernameFeedback" class="invalid-feedback">Please choose a username.</div>
                    </div>
                    <div class="form-floating has-validation mb-3">
                      <input type="email" class="form-control" id="emailInput" name="email" placeholder="email address" aria-describedby="emailHelp" required>
                      <label for="emailInput" class="form-label"><i class="text-secondary far fa-envelope fa-lg pe-2"></i>Email Address<span class="req-prop ps-1">*</span></label>
                      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="form-floating has-validation mb-3">
                      <input type="password" class="form-control" id="password" name="password" placeholder="password" aria-describedby="passwordHelp" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required title="Password must be min 8 characters, including one capital letter, one lowercase letter, and one number." required>
                      <label for="password" class="form-label"><i class="text-secondary fas fa-lock fa-lg pe-2"></i>Password</label>
                      <div id="passwordHelp" class="form-text">(Min 8 characters, including one uppercase, one lowercase, and one number)</div>
                    </div>
                    <div class="form-floating has-validation mb-3">
                      <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="password" aria-describedby="confirmPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" required title="Password must be 8-16 characters" required>
                      <label for="confirmPassword" class="form-label"><i class="text-secondary fas fa-lock fa-lg pe-2"></i>Confirm Password</label>
                    </div>
                    <div class="pt-2">
                      <% if (locals.messages.errors) { %>
                        <% messages.errors.forEach( el => { %>
                            <div class="alert alert-danger"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                    <% if (locals.messages.info) { %>
                        <% messages.info.forEach( el => { %>
                            <div class="alert alert-info"><%= el.msg %></div>
                        <% }) %>    
                    <% } %>
                    </div>
                    <button type="submit" class="btn btn-primary">Get Started</button>
                  </form>
            </section>
        </div>
    </main>

<%- include('partials/footer') -%>