* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.title-font {
  font-family: 'Kumbh Sans', sans-serif;
}

.btn-primary {
  background-color: #8781BD;
  border: #8781BD;
}
  .btn-primary:hover {
    background-color: #06B1F9;
  }
  .btn-primary:focus {
    background-color: #8781BD;
    box-shadow: 0 0 0 0.2rem rgb(135 129 189 / 70%);
  }
  .btn-primary:active {
    box-shadow: 0 0 0 0.25rem rgb(135 129 189 / 70%);
  }

.btn-secondary {
  background-color: #C9C9C9;
  border: #C9C9C9;
}

.btn-warning {
  color: white;
  background-color: #235f0b;
  border: #235f0b;
}
.btn-warning:hover {
  color: white;
  background-color: #217600;
  border: #217600;
}

.link-primary {
  color:#37C301;
  font-weight: bolder;
  text-decoration: none;
}
  .link-primary:hover {
    color:#06B1F9;
  }

.req-prop {
  color:#37C301;
  font-size: smaller;
}

.input-group-text {
  background-color: #a3a5a6
}

.plot-card {
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem;
  overflow: hidden;
  padding: 0px;
}
/* .plot-image {

} */
.p-overlay {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height: 25%;
  background-color: none;
  opacity: 0.8;
}
  .overlay-right {
    border-top-left-radius: 1.5rem;
  }
  .overlay-left {
    border-top-right-radius: 1.5rem;
  }


.page-head {
  height: 200px;
  /* overflow: hidden;
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem; */
}
    .head-overlay {
      position: relative;
      overflow: hidden;
      padding: 0px;
      margin: 0px;
      width: 100%;
      height: 90px;
      background-color: none;
      opacity: 0.7;
    }
    .overlay-left-hd {
      border-top-right-radius: 2rem;
    }
    .overlay-right-hd {
      border-top-left-radius: 2rem;
    }

.label-text {
  font-weight: 500;
  font-size: 1.05rem;
}