* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  /* padding-top: -10px;
  padding-bottom: 3rem; */
  background-image: url('../images/BgSmall.png');
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size:cover;
}

.doc-name {
  font-size: larger;
}

.title-font {
  font-family: 'Kumbh Sans', sans-serif;
}
    .title-font-op {
      font-family: 'Kumbh Sans', sans-serif;
      font-weight: 600;
      opacity: 0.7;
    }

.btn-primary {
  background-color: #8781BD;
  border: #8781BD;
}
    .btn-primary:hover {
      background-color: #06B1F9;
    }
    .btn-primary:focus {
      background-color: #8781BD;
      box-shadow: 0 0 0 0.2rem rgb(135 129 189 / 70%);
    }
    .btn-primary:active {
      box-shadow: 0 0 0 0.25rem rgb(135 129 189 / 70%);
    }
  .btn-primary.btn-alt {
    background-color: #BD8CBF;
    border: #BD8CBF;
  }
    .btn-primary.btn-alt:hover {
      background-color: #06B1F9;
    }
    .btn-primary.btn-alt:focus {
      background-color: #8781BD;
      box-shadow: 0 0 0 0.2rem rgb(135 129 189 / 70%);
    }
    .btn-primary.btn-alt:active {
      box-shadow: 0 0 0 0.25rem rgb(135 129 189 / 70%);
    }

.btn-secondary {
  background-color: #C9C9C9;
  border: #C9C9C9;
}

.btn-warning {
  color: white;
  background-color: #6D757D;
  border: #6D757D;
}
    .btn-warning:hover {
      color: white;
      background-color: #2B9A00;
      border: #2B9A00;
    }

.link-primary {
  color:#06B1F9;
  text-decoration: none;
  font-size: smaller;
}
    .link-primary:hover {
      color:#06B1F9;
      font-weight: bold;
    }

.req-prop {
  color:#37C301;
  font-size: smaller;
}

.input-group-text {
  background-color: #a3a5a6
}

.image-card {
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem;
  overflow: hidden;
  padding: 0px;
}
/* .plot-image {

} */

.color-primary {
  color: #8781BD;
}
.color-alt {
  color: #BD8CBF;
}

.p-overlay {
  padding: 0px;
  margin: 0px;
  width: 100%;
  height:fit-content;
  /* background-color: none;
  opacity: 0.7; */
}
    .overlay-right {
      border-top-left-radius: 1.2rem;
    }
    .overlay-left {
      border-top-right-radius: 1.2rem;
    }


.page-head {
  height: 200px;
  /* overflow: hidden;
  border-bottom-right-radius: 4rem;
  border-top-left-radius: 4rem; */
}
    .head-overlay {
      position: relative;
      overflow: hidden;
      padding: 0px;
      margin: 0px;
      width: 100%;
      height:fit-content;
      background-color: none;
      opacity: 0.7;
    }
    .overlay-left-hd {
      border-top-right-radius: 2rem;
    }
    .overlay-right-hd {
      border-top-left-radius: 2rem;
    }
    .overlay-prof-lr {
      border-top-left-radius: 2rem;
      border-bottom-right-radius: 2rem;
    }

.profile-hd {
  height: 22vh;
  background-color: #8781BD;
}
.head-overlay.head-overlay-profile {
  height: 65%;
}
.bg-custom {
  background-color: #383B3F;
}

.bg-sheer-black {
  background-color:rgba(0, 0, 0, 0.5);
}

.label-text {
  font-weight: 500;
  font-size: 1.05rem;
}

.carousel-caption-bg {
  background-color:rgba(0, 0, 0, 0.5);
}

.carousel-item {
  object-fit: cover;
  object-position: center;
  height: 45vh;
  overflow: hidden;
}
.carousel-image {
  min-width: 100%;
  min-height: 100%;
}

.carousel-image-box {
  overflow: hidden;
}

.carousel-row {
  /* width: 80%; */
}

.blue-test {
  border: 8px solid cornflowerblue;
}